body {
}

#header {
    padding: 9em 0 9em 0;
    background-color: black;
    color: rgba(255, 255, 255, 0.75);
    background-image: url('../../images/beach.jpg');
    background-position: top left, center center, center center;
    background-size: 1500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-filter: grayscale(10%);
    
}

.glyphicon-fire:before {
    color: orange;
}

#header h1 {
    margin: 0;
    font-family: 'Merriweather', serif;
}

.main.style2 {
    background-color: #333;
    color: rgba(255, 255, 255, 1);
    background-attachment: fixed, fixed;
    background-image: url('../../images/beach.jpg');
    background-size: 1350px;
    -webkit-filter: grayscale(10%);
}

.main.style1 {
    background: black;
}

#footer {
    padding: 6em 0 6em 0;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    background-attachment: fixed,	fixed,	fixed;
    background-image: url(images/overlay2.png), url(images/overlay4.svg), linear-gradient(45deg, black, black 50%, black 95%);
    background-position: top left,	center center,	center center;
    background-size: auto,	cover,	cover;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

p {
    font-family: 'Merriweather', serif;
    color: white;
}

.justFont {
    font-family: 'Merriweather', serif;
}

.colorBlue {
    font-family: 'Merriweather', serif;
    color: lightskyblue;
}
.colorBlue2 {
    font-family: 'Merriweather', serif;
    color: lightskyblue;
    text-align: center;
}

.footerColor {
    color: #337ab7;
}

.button {
    font-family: 'Merriweather', serif;
    color: lightskyblue !important;
}

h5 {
    color: #337ab7 !important;
}

